{% extends "base.html" %}

{% block pageheading %}Dictionary{% endblock %}

{% block main %}
<div id="description-box">
  <p>Welcome to the Te-Reo Maori to English dictionary! Use the drop-down menu to select a category.</p>
</div>

<div id="category-dropdown">
  <button id="category-button">{{ current_page.title() }}</button>
  <div id="dropdown-contents">
    {% for category in categories %}
    <li><a href = "/dictionary/{{ category [0] }}">{{ category[1].title() }}</a></li>
    {% endfor %}
  </div>
</div>

<div class="word-grid">
  {% for word in words %}
    <div class="word-box">
      <div class="word-box-image">
        {% if word[4] == None %}
        <img src="/static/images/noimage.png">
        {% else %}
        <img src="/static/images/{{ word[4] }}">
        {% endif %}
      </div>
      <div class="word-box-info">
        <h3>{{ word[1].title() }}</h3>
        <p>{{ word[2].title() }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}