{% extends "base.html" %}

{% block pageheading %}Dictionary{% endblock %}

{% block main %}
<div class="description-box">
  <p>cjkehs fjdsbdhjf dj dshzjfg chjxvg djh vgxhj vgxhj vgxjhcv gcxhjv ghj ghjfgsdj hcgcxhjv gcxhv gcxhzjxv cbxnxb cvxhxn cgvxnbcngv bv bx vbnvc dgxnc gshxz bcncx vhczv x vncxbzv nv nczv bcsd</p>
</div>

<div id="category-dropdown">
  <button id="category-button">Choose Category</button>
  <div id="dropdown-contents">
    {% for category in categories %}
    <li><a href = "/dictionary/{{ category [0] }}">{{ category[1] }}</a></li>
    {% endfor %}
  </div>
</div>

<div class="word-grid">
  {% for word in words %}
    <div class="word-box">
      <div class="word-box-image">
        {% if word[6] == None %}
        <img src="/static/images/noimage.png">
        {% else %}
        <img src="/static/images/{{ word[6] }}">
        {% endif %}
      </div>
      <div class="word-box-info">
        <h3>{{ word[1] }}</h3>
        <p>{{ word[2] }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}