{% extends "base.html" %}

{% block pageheading %}Learn More{% endblock %}

{% block main %}
<div class="word-info">
  <div class="left-info">
    <div class="dictionary-refer">
      <form action="/dictionary/category/1" id="dictionary-refer-button">
        <input type="submit" value="Go Back"></input>
      </form>
    </div>
    <br>
    
    <label for="word_name"><h3>{{ word[1].title() }}</h3></label>
    {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/word_name">
      <input type="text" name="value" id="word_name">
      <input type="submit" value="Change Word's Name">
    </form>
    {% endif %}

    <br>

    <label for="category"><p>Category: {{ word[7].title() }}</p></label>
    {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/category_id">
      <select id="category" name="value">
            {% for category in categories %}
              <option value ="{{ category[0] }}">{{ category[1].title() }}</option>
            {% endfor %}
          </select>
      <input type="submit" value="Change Category">
    </form>
    {% endif %}
      
    <label for="english"><p>English: {{ word[2].title() }}</p></label>
    {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/english">
      <input type="text" name="value" id="english">
      <input type="submit" value="Change English">
    </form>
    {% endif %}
    
    <label for="level-select"><p>Level: {{ word[5] }}</p></label>
    {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/level">
      <select id="level-select" name="value" required> 
            {% for i in range(1,11) %}
              <option value ="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
      <input type="submit" value="Change Level">
    </form>
    {% endif %}
    
    <label for="description"><p>Description: {{ word[3] }}</p></label>
    {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/description">
      <input type="text" name="value" id="description">
      <input type="submit" value="Change Description">
    </form>
    {% endif %}
  </div>
  
  <div class="right-info">
    <div class="info-image">
      {% if word[4] == None %}
      <img src="/static/images/noimage.png" alt="{{ word[9] }}">
      {% else %}
      <img src="/static/images/{{ word[4] }}" alt="{{ word[9] }}">
      {% endif %}
      {% if teacher %}
    <form class="word-info-form" method="post" action="/edit/{{ word[0] }}/image">
      <input type="text" name="value" id="image">
      <input type="submit" value="Change Image Path">
    </form>
    {% endif %}
    </div>
    <div class="right-info-words">
      <p><i>Created by {{ word[8] }}</i></p>
      {% if not word[6] == None %}
      <p><i>{{ word[6] }}</i></p>
      {% else %}
      <p><i>(Time created not recorded)</i></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}